{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1><u>Upload new character</u></h1>
<p> upload a pdf of <a href="https://media.wizards.com/2016/dnd/downloads/5E_CharacterSheet_Fillable.pdf" title="Straight from the coast" target="_blank">This character sheet</a></p>
<form method="POST" enctype="multipart/form-data">
    {{form.csrf_token}}
    {{form.pdf(size=15)}}
    <input type="submit" value="Submit">
</form>

{% endblock %}